<ion-header>
  <ion-toolbar>
    <ion-title>Permisos {{clase.id}}</ion-title>
    <ion-back-button defaultHref="home" (click)="Back();"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="items">
    <ion-list>
      <ion-list-header>PERMISO 1</ion-list-header>
      <ion-item>
        {{TextoPelos}}
        <ion-toggle slot="end" id="p1" color="success" disabled='true'></ion-toggle>
      </ion-item>
      
    </ion-list>
    <ion-list>
      <ion-list-header>PERMISO 2</ion-list-header>
      <ion-item>
        {{TextoOjos}}
        <ion-toggle slot="end" id="p2" color="success" disabled='true'></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>PERMISO 3</ion-list-header>
      <ion-item>
        {{TextoComp}}
        <ion-toggle slot="end" id="p3" color="success" disabled='true'></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
