<ion-header>
  <ion-toolbar>
    <ion-title>complementos</ion-title>
    <ion-back-button defaultHref="home"></ion-back-button>
    <ion-button slot="end" (click)="GuardarComp();">OK</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>

    <div id="elementosOjos">
    
    </div>

    <div class="panel2" id="galeriaComp">
            
      <li *ngFor="let Img of URLsOjos">
        <ion-item>
          <ion-img [src]="Img" style="width:45%"></ion-img>
          <ion-checkbox checked="false" slot="end" id="{{Img}}" (ionChange)="GuardaValor(Img);"></ion-checkbox>
        </ion-item>  
      </li>
          
    </div>
    
    
  </body>
</ion-content>
