<ion-header>
  <ion-toolbar>
    <ion-title>Galería de material</ion-title>
    <ion-back-button defaultHref="profesor"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Este input nos va a permitir cargar imágenes de la carpeta que queramos, por defecto se abre el escritorio-->
  <!-- <ion-item>
    Poner el id como inp para el input, la función activar input va ligada a ese id siempre
    <input #file id="inp" type="file" accept='image/*' (change)="Mostrar($event)" style="display:none">
    <ion-button (click)="ActivarInput();">Carga imagen</ion-button>
    <ion-img slot="end" [src]="logo" style="width:25%"></ion-img>
  </ion-item> -->

  <!-- <ion-list>
    <ion-list-header id="Pelos">
      Peinados
    </ion-list-header>
    <ion-item>
      <input #file id="inp" type="file" accept='image/*' (change)="Mostrar($event)" style="display:none">
      <ion-button (click)="ActivarInput();">Añadir peinado</ion-button>
      <ion-img slot="end" [src]="logo" style="width:25%"></ion-img>
    </ion-item>

    <ion-item>
      <ion-button  (click)="CargaDeArchivos('Pelos');" expand="block">Añadir a la galería</ion-button>
    </ion-item>

    <ion-item>
      <ion-button (click)="ActivarInput();">Galería de Peinados</ion-button>
    </ion-item>
  </ion-list>   -->

  <div>
    <a *ngFor="let Container of Contenedores">

      <ion-list>
        <ion-list-header>
          {{Container.name}}
        </ion-list-header>

        <div>

          <input #file id="inp" type="file" accept='image/*' (change)="Mostrar($event);" style="display:none">
          <ion-button (click)="ActivarInput(); myFunction(Container.name);" expand="block">Añadir {{Container.name}}</ion-button>
          <!-- <ion-img slot="end" [src]="logo" style="width:25%"></ion-img> -->
        </div>
        <div class="panel" id="subir{{Container.name}}">
          <ion-item>
            <ion-button (click)="CargaDeArchivos(Container.name);">Subir</ion-button>
            <ion-img slot="end" [src]="logo" style="width:30%"></ion-img>
          </ion-item>
        </div>
        <div>
          <ion-button (click)="Asignar(); CargarFotosContenedor(Container.name); " expand="block">Mostrar {{Container.name}}</ion-button>
          <!-- <ion-img slot="end" [src]="logo" style="width:25%"></ion-img> -->
        </div>
        <div class="panel2" id="galeria{{Container.name}}">
         
          <li *ngFor="let Img of URLsComplementos">
            <ion-img slot="end" [src]="Img" style="width:25%"></ion-img>
          </li>
        
          <!--
          <ion-img slot="end" [src]="URLs[1]" style="width:25%"></ion-img>-->
        </div>
        
  
      </ion-list>

    </a>

  </div>
  


</ion-content>