.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.panel2 {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}