<ion-header>
  <ion-toolbar>
    <ion-title>Galería de material</ion-title>
    <ion-back-button defaultHref="profesor"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
   

    <ion-list>
      <ion-list-header>
        COMPLEMENTOS
      </ion-list-header>

      <div>

        <input #file id="inp" type="file" accept='image/*' (change)="Mostrar($event);" style="display:none">
        <ion-button (click)="ActivarInput(); myFunction('Complementos');" expand="block">Añadir Complementos</ion-button>

      </div>
      <div class="panel" id="subirComplementos">
        <ion-item>
          <ion-button (click)="CargaDeArchivos('Complementos'); myFunction('Complementos');">Subir</ion-button>
          <ion-img slot="end" [src]="logo" style="width:25%"></ion-img>
        </ion-item>
      </div>
      <div>

        <ion-button (click)="CargarFotosContenedor('Complementos'); " expand="block">Mostrar Complementos</ion-button>
         
      </div>
      <div class="panel2" id="galeriaComplementos">
         
        <li *ngFor="let Imagen of ModeloComp">
          <ion-item>
            <ion-img [src]="Imagen.direc" style="width:45%"></ion-img>
            <!-- <ion-checkbox id="{{Imagen.nombre}}" slot="end" ></ion-checkbox> -->
            <ion-button slot="end" (click) = "EliminarFoto('Complementos', Imagen.nombre);">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>  
        </li>
        
      </div>
       
  
    </ion-list>



  </div>

  <div>
    <ion-list>
      <ion-list-header>
        OJOS
      </ion-list-header>

      <div>

        <input #file id="inp" type="file" accept='image/*' (change)="Mostrar($event);" style="display:none">
        <ion-button (click)="ActivarInput(); myFunction('Ojos');" expand="block">Añadir Ojos</ion-button>

      </div>
      <div class="panel" id="subirOjos">
        <ion-item>
          <ion-button (click)="CargaDeArchivos('Ojos'); myFunction('Ojos');">Subir</ion-button>
          <ion-img [src]="logo" style="width:25%"></ion-img>
        </ion-item>
      </div>
      <div>

        <ion-button (click)="CargarFotosContenedor('Ojos'); " expand="block">Mostrar Ojos</ion-button>
          
      </div>
      <div class="panel2" id="galeriaOjos">
          
        <li *ngFor="let Imagen of ModeloOjos">
          <ion-item>
            <ion-img [src]="Imagen.direc" style="width:45%"></ion-img>
            <!-- <ion-checkbox id={{Imagen.nombre}} slot="end" ></ion-checkbox> -->
            <ion-button slot="end" (click) = "EliminarFoto('Ojos', Imagen.nombre);">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>  
        </li>
          
      </div>
       
  
    </ion-list>



  </div>

  <div>
    <ion-list>
      <ion-list-header>
       PEINADOS
      </ion-list-header>
  
      <div>
  
        <input #file id="inp" type="file" accept='image/*' (change)="Mostrar($event);" style="display:none">
        <ion-button (click)="ActivarInput(); myFunction('Pelos');" expand="block">Añadir Peinados</ion-button>
  
      </div>
      <div class="panel" id="subirPelos">
        <ion-item>
          <ion-button (click)="CargaDeArchivos('Pelos'); myFunction('Pelos');">Subir</ion-button>
          <ion-img [src]="logo" style="width:25%"></ion-img>
        </ion-item>
      </div>
      <div>
  
        <ion-button (click)="CargarFotosContenedor('Pelos'); " expand="block">Mostrar Peinados</ion-button>
            
      </div>
      <div class="panel2" id="galeriaPelos">
            
        <li *ngFor="let Imagen of ModeloPelos">
          <ion-item>
            <ion-img [src]="Imagen.direc" style="width:45%"></ion-img>
            <!-- <ion-checkbox checked="false" slot="end" id={{Imagen.nombre}}></ion-checkbox> -->
            <ion-button slot="end" (click) = "EliminarFoto('Pelos', Imagen.nombre);">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>  
        </li>
            
      </div>
         
    
    </ion-list>
  
  
  
  </div>

  <div>
    <ion-list>
      <ion-list-header>
       BUSTOS
      </ion-list-header>
  
      <div>
  
        <input #file id="inp" type="file" accept='image/*' (change)="Mostrar($event);" style="display:none">
        <ion-button (click)="ActivarInput(); myFunction('Bustos');" expand="block">Añadir Bustos</ion-button>
  
      </div>
      <div class="panel" id="subirBustos">
        <ion-item>
          <ion-button (click)="CargaDeArchivos('Bustos'); myFunction('Bustos');">Subir</ion-button>
          <ion-img [src]="logo" style="width:25%"></ion-img>
        </ion-item>
      </div>
      <div>
  
        <ion-button (click)="CargarFotosContenedor('Bustos'); " expand="block">Mostrar Bustos</ion-button>
            
      </div>
      <div class="panel2" id="galeriaBustos">

        <li *ngFor="let Imagen of ModeloBustos">
          <ion-item>
            <ion-img [src]="Imagen.direc" style="width:45%"></ion-img>
            <!-- <ion-checkbox checked="false" slot="end" id={{Imagen.nombre}}></ion-checkbox> -->
            <ion-button slot="end" (click) = "EliminarFoto('Bustos', Imagen.nombre);">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>  
        </li>
            
      </div>
      
    </ion-list>
  
  
  
  </div>

  <div>
    <ion-list>
      <ion-list-header>
       BOCAS
      </ion-list-header>
  
      <div>
  
        <input #file id="inp" type="file" accept='image/*' (change)="Mostrar($event);" style="display:none">
        <ion-button (click)="ActivarInput(); myFunction('Bocas');" expand="block">Añadir Bocas</ion-button>
  
      </div>
      <div class="panel" id="subirBocas">
        <ion-item>
          <ion-button (click)="CargaDeArchivos('Bocas'); myFunction('Bocas');">Subir</ion-button>
          <ion-img [src]="logo" style="width:25%"></ion-img>
        </ion-item>
      </div>
      <div>
  
        <ion-button (click)="CargarFotosContenedor('Bocas'); " expand="block">Mostrar Bocas</ion-button>
            
      </div>
      <div class="panel2" id="galeriaBocas">
            
        <li *ngFor="let Imagen of ModeloBocas">
          <ion-item>
            <ion-img [src]="Imagen.direc" style="width:45%"></ion-img>
            <!-- <ion-checkbox checked="false" slot="end" id={{Imagen.nombre}}></ion-checkbox> -->
            <ion-button slot="end" (click) = "EliminarFoto('Bocas', Imagen.nombre);">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>  
        </li>
            
      </div>
      
    </ion-list>
  
  
  
  </div>
  


</ion-content>