<ion-header>
  <ion-toolbar>
    <ion-title>Peinados</ion-title>
    <ion-back-button defaultHref="home"></ion-back-button>
    <ion-button slot="end" (click)="PasarDatosPelo(); IrAHome();">OK</ion-button>
    <!---->
  </ion-toolbar>
</ion-header>


<ion-content>

  <body>

    <div class="panel2" id="galeriaPelos">
            
        <li *ngFor="let Img of URLsPelos">
          <ion-item>
            <ion-img [src]="Img" style="width:45%"></ion-img>
            <ion-checkbox checked="false" slot="end" id="{{Img}}" (ionChange)="GuardaValor(Img);"></ion-checkbox>
          </ion-item>  
        </li>
            
    </div>

  </body>


</ion-content>