<ion-header>
  <ion-toolbar>
    <ion-title>pelo</ion-title>
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-segment>
    <ion-segment-button value="galería de peinados">
      Galería de Peinados
    </ion-segment-button>
    <ion-segment-button value="privilegios">
      Privilegios
    </ion-segment-button>
    
  </ion-segment>

  <ion-grid>

    <ion-row>

      <ion-col size="4" size-lg offset="3" >
        <img src="assets/img/pelo.png"/>
      </ion-col>
      <ion-col size="4" size-lg>
        <img src="assets/img/pelo1.png"/>
      </ion-col>
      <ion-col size="4" size-lg>
        <img src="assets/img/pelo2.png"/>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="6" size-lg offset="3" >
        <img src="assets/img/pelo.png"/>
      </ion-col>
      <ion-col size="6" size-lg offset="3">
        <img src="assets/img/pelo1.png"/>
      </ion-col>
      <ion-col size="6" size-lg offset="3">
        <img src="assets/img/pelo2.png"/>
      </ion-col>
  
      </ion-row>

  </ion-grid>

</ion-content>
