<ion-header>
  <ion-toolbar>
    <ion-title>Peinados</ion-title>
    <ion-back-button defaultHref="home"></ion-back-button>
    <ion-button slot="end" (click)="GuardarPelo();">OK</ion-button>
    
  </ion-toolbar>
</ion-header>


<ion-content>

  <div id="elementosPelos">
    
  </div>

  <div class="panel2" id="galeriaPelos">

    <ion-button slot="end" (click)="Reset();">
      RESET
      <ion-icon name="trash"></ion-icon>
    </ion-button>
            
    <li *ngFor="let Imagen of ModeloPelos">
      <ion-item>
        <ion-img [src]="Imagen.direc" style="width:45%"></ion-img>
        <ion-checkbox checked="false" slot="end" id="{{Imagen.nombre}}" (ionChange)="GuardaValor(Imagen);"></ion-checkbox> 
            
      </ion-item>  
    </li>
            
  </div>


  
</ion-content>