<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content vertical="center">

  <div class="back">
    <ion-img src="assets/img/classpip-icon.png" style="width:250%"></ion-img>
  </div>

  

  <div class="login">

    <ion-list >
      <ion-item>

        <ion-icon name="person" item-start></ion-icon>
        <ion-label stacked>Usuario: </ion-label>
        <ion-input id="nombre" type="text" placeholder="Usuario" [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-item>

        <ion-icon name="eye" item-start></ion-icon>
        <ion-label stacked>Contraseña: </ion-label>
        <ion-input id="pass" placeholder="Contraseña" [(ngModel)]="pass"></ion-input>

      </ion-item>
      
    </ion-list>

    <div>

      <ion-button color= "primary" expand = "block" (click)="Autentificar();">
        Iniciar sesión
      </ion-button>

    </div>
  </div>  


</ion-content>

