<ion-header>
  <ion-toolbar>
    <ion-title>Crea una clase</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-footer>

  <ion-toolbar>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" (click)="CrearClase();">Añadir clase</ion-button>
      <ion-button expand="block" class="ion-no-margin" (click)="VolverAClases();">Cerrar</ion-button>
    </div>
  </ion-toolbar>
        
</ion-footer>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre de la clase <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="idClase"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre del administrador: {{administrador}} <ion-text color="danger">*</ion-text></ion-label>
    </ion-item>
  </ion-list>

</ion-content>-->
