<ion-header>
  <ion-toolbar>
    <ion-title>Juego de avatares</ion-title>
    <ion-back-button (click)="IrAClases();"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="estado">

      <ion-item>
        <ion-label>Juego avatares {{idClase}}</ion-label>
        <ion-toggle slot="end" id="estado" color="success" checked [(ngModel)]="estado" (ionChange)="CambiaEstado(); Mostrar();" ></ion-toggle>
      </ion-item>

      <div id="activado">

        <!-- <p>
          Juego activado
        </p> -->

        <ion-list>
          <ion-list-header>Familia de avatares</ion-list-header>
          <ion-item>
            <ion-label>Escoge una familia</ion-label>

            <ion-select [(ngModel)]="familiaescogida">

    
              <a *ngFor="let item of familias">
                    
                <ion-select-option value="{{item}}">{{item}}</ion-select-option>
                
                  
              </a>  
                    
            </ion-select>

            
          </ion-item>

          <ion-item>
            <ion-button (click)="GuardarFamilia();" expand="block">Guardar</ion-button>
          </ion-item>

          <div id=fam>
            Has escogido la familia: {{familiaBDD}}
         </div>
        </ion-list>
       
        <ion-button expand="block" (click)="IrAPermisos();">Permisos</ion-button>
        <ion-button expand="block" (click)="VerListaAvatares();">Lista de avatares</ion-button>
            
        
          
         
       
      </div>

    </div>

    

</ion-content>
