<ion-header>
  <ion-toolbar>
    <ion-title>Juego de avatares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="estado">

      <ion-item>
        <ion-label>Juego avatares {{idClase}}</ion-label>
        <ion-toggle slot="end" id="estado" color="success" checked [(ngModel)]="estado" (ionChange)="Mostrar();" ></ion-toggle>

        <!--(ionChange)="myChange($event)"-->
      </ion-item>

      <!--<ion-button (click)="myChange();">

      </ion-button>-->

      <div id="activado">
        HOLA, ESTO YA FUNCIONA
      </div>

    </div>

    

</ion-content>
