<ion-header>
  <ion-toolbar>
    <ion-title>lista</ion-title>
    <ion-back-button defaultHref="profesor"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="IrAForm();">Añadir</ion-button>
    <ion-button>Eliminar</ion-button>
  </ion-toolbar>
    
</ion-footer>

<ion-content>


  <div>

    <h2>LISTA DE ALUMNOS</h2>

  
      <ion-item>
       <ion-row>

         <div><ion-col>Nombre</ion-col></div>
         <div><ion-col>Contraseña</ion-col></div>
         <div><ion-col>Rol</ion-col></div>
        
        </ion-row>
      </ion-item>  

      <ion-list *ngFor="let persona of lista">

        
          
        <li *ngIf="persona.rol === 'Alumno'">

          <ion-item>

            <ion-row>

              <ion-col class="col">{{persona.nombre}}</ion-col>
              <ion-col class="col">{{persona.pass}}</ion-col>
              <ion-col class="col">{{persona.rol}}</ion-col>
                                       
            </ion-row>
                   
          </ion-item>
          

        </li>
            
      </ion-list>
      
    
      
      
  </div>

  

  
</ion-content>

