<ion-header>
  <ion-toolbar>
    <ion-title>lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar>

    <div id="dropup">
    
      <ion-item>
        <ion-label position="stacked">Escribe el nombre del usuario a eliminar</ion-label>
        <ion-input [(ngModel)]="NombreEliminar"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="Eliminar();">Eliminar usuario</ion-button>
      </ion-item>
      
    </div>
    <ion-segment  color="success">
      
      <ion-segment-button (click)="IrAForm();" color="success">Añadir</ion-segment-button>
      <ion-segment-button (click)="AbrirInput();">Eliminar</ion-segment-button>
      <ion-segment-button defaultHref="profesor" (click)="VolverAClases();AbrirInput();">Cerrar</ion-segment-button>
    </ion-segment>
      
  </ion-toolbar>
    
</ion-footer>

<ion-content>


  <div>

    <h2>LISTA DE ALUMNOS</h2>

  
      <ion-item>
       <ion-row>

         <div><ion-col>Nombre</ion-col></div>
         <div><ion-col>Contraseña</ion-col></div>
        
        </ion-row>
      </ion-item>  

      <ion-list *ngFor="let persona of lista">

        
          
        <li *ngIf="persona.rol === 'Alumno'">

          <ion-item>

            <ion-row>

              <ion-col class="col">{{persona.nombre}}</ion-col>
              <ion-col class="col">{{persona.pass}}</ion-col>
                                       
            </ion-row>
                   
          </ion-item>
          

        </li>
            
      </ion-list>
      
    
      
      
  </div>

  

  
</ion-content>

