<ion-header>
  <ion-toolbar>
    <ion-title>Permisos {{idClase}}</ion-title>
    <ion-back-button (click)="IrAAvatares();"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar>
    <div>
      <ion-item>
        <input #file id="inp" type="file" accept='txt/*' (change)="Mostrar($event);" style="display:none">
        <ion-button (click)="ActivarInput();">Cargar</ion-button>
        <ion-button slot="end" (click)="CargaDeArchivos(); showAlert();">Subir</ion-button>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-footer>

<ion-content>

  <ion-list>
    <ion-list-header>Permiso Peinado</ion-list-header>
    <ion-item>

      <ion-label>Escoge permiso</ion-label>
        
      <ion-select [(ngModel)]="p1">
  
        <a *ngFor="let Container of ficherospermisos">
              
          <ion-select-option value="{{Container.name}}">{{Container.name}}</ion-select-option>
            
        </a>  
              
      </ion-select>
    
    </ion-item>
    <ion-item>
      <ion-button (click)="GuardarPermiso1();" expand="block">Guardar</ion-button>
    </ion-item>
    <div id={{Clase.p1}}>
      {{TextoPelos}}
    </div>
  </ion-list>

  <ion-list>
    <ion-list-header>Permiso Ojos</ion-list-header>
    <ion-item>

      <ion-label>Escoge permiso</ion-label>
        
      <ion-select [(ngModel)]="p2">

        <a *ngFor="let Container of ficherospermisos">
            
          <ion-select-option value="{{Container.name}}">{{Container.name}}</ion-select-option>
        
          
        </a>  
            
      </ion-select>
      
      
    </ion-item>
    <ion-item>
      <ion-button (click)="GuardarPermiso2();" expand="block">Guardar</ion-button>
    </ion-item>
    <div id={{Clase.p2}}>
      {{TextoOjos}}
    </div>
  </ion-list>

  <ion-list>
    <ion-list-header>Permiso Complementos</ion-list-header>
    <ion-item>

      <ion-label>Escoge permiso</ion-label>
        
      <ion-select [(ngModel)]="p3">
  
        <a *ngFor="let Container of ficherospermisos">
              
          <ion-select-option value="{{Container.name}}">{{Container.name}}</ion-select-option>
         
        </a>  
              
      </ion-select>
      
     <div id={{Clase.p3}}>
        {{TextoComp}}
     </div>
        
    </ion-item>
    <ion-item>
      <ion-button (click)="GuardarPermiso3();" expand="block">Guardar</ion-button>
    </ion-item>
  </ion-list>


</ion-content>
