<ion-header>
  <ion-toolbar>
    <ion-title>Permisos {{Clase.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>

    <ion-title>Permiso Peinado</ion-title>
    <div id={{Clase.p1}}>

    </div>

  </ion-item>

  <ion-item>

    <ion-title>Permiso Ojos</ion-title>
    <div id={{Clase.p2}}>

    </div>

  </ion-item>

  <ion-item>

    <ion-title>Permiso Complementos</ion-title>
    <div id={{Clase.p3}}>
  
    </div>

  </ion-item>

  <div>
    <input #file id="inp" type="file" accept='txt/*' style="display:none">
    <ion-button (click)="ActivarInput(); CargaDeArchivos('Pelos');" expand="block"></ion-button>
  </div>

</ion-content>
