<ion-header>
  <ion-toolbar>
    <ion-title>asignaturasalum</ion-title>
    <ion-back-button defaultHref="Alumno" (click)="IrAAlumno();"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>Mis asignaturas</ion-list-header>
    <div>
      <a *ngFor="let Matricula of lista">
        <ion-button expand="block" (click)= "myFunction(Matricula.idAsignatura); JuegoAvatares(Matricula.idAsignatura);">
          {{Matricula.idAsignatura}}
        </ion-button>
        <div class ="panel" id="{{Matricula.idAsignatura}}">
          <ion-item lines="inset">
            <ion-button fill="clear" (click) = "IrAInfo(Matricula.idAsignatura)">Información</ion-button>
          </ion-item>
          <ion-item lines="inset">
            <ion-button fill="clear" id="Juego{{Matricula.idAsignatura}}" (click)="IrAAvatares(Matricula.idAsignatura)">Juego de avatares</ion-button>
          </ion-item>
        </div>

      </a>
    </div>
  </ion-list>

</ion-content>
