<ion-header>
  <ion-toolbar>
    <ion-title>Ojos</ion-title>
    <ion-back-button defaultHref="home"></ion-back-button>
    <ion-button slot="end" (click)="GuardarOjos();">OK</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <body>

    <div id="elementosOjos">
    
    </div>

    <div class="panel2" id="galeriaOjos">

      <ion-button slot="end" (click)="Reset();">
        RESET
        <ion-icon name="trash"></ion-icon>
      </ion-button>
            
      <li *ngFor="let Imagen of ModeloOjos">
        <ion-item>
          <ion-img [src]="Imagen.direc" style="width:45%"></ion-img>
          <ion-checkbox checked="false" slot="end" id="{{Imagen.nombre}}" (ionChange)="GuardaValor(Imagen);"></ion-checkbox>
        </ion-item>  
      </li>
          
    </div>
    
    
   </body>

</ion-content>
