
<!--




<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-split-pane>

  <ion-menu contentId="content">

    <ion-header>

      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>

    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item] = "slectedPath === p.url">
            {{ p.title }}
          </ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>


-->



<!--<ion-back-button defaultHref="home"></ion-back-button>-->

<ion-header>
  <ion-toolbar>
    <ion-title>¡Bienvenido! </ion-title>
    <ion-button slot="end" color= "danger" (click)="IrALogin();"><ion-icon name="power"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-button color= "warning" expand = "block">
    Mi perfil
  </ion-button>
 
 
  <ion-button color= "warning" expand = "block" (click)="IrAHome();">
    Mis clases
  </ion-button>

</ion-content>
