
<ion-header>
 <ion-toolbar>
    <ion-title>¡Hola {{alumno.nombre}}! </ion-title>
    <ion-button slot="end" color= "danger" (click)="IrALogin();"><ion-icon name="power"></ion-icon></ion-button>
  </ion-toolbar>
                      
</ion-header>

<ion-content>

  <ion-button color= "warning" expand = "block" (click)="IrAMiPerfil();">
    Mi perfil
  </ion-button>
         
         
  <ion-button color= "warning" expand = "block" (click)="IrAHome();">
    Mis clases
  </ion-button>

  <ion-button color= "warning" expand = "block" (click)="IrAAsignaturas();">
    Mis asignaturas
  </ion-button>
</ion-content>    
  

      





