
.topnav {
    overflow: hidden;
    background-color: rgb(253, 253, 253);
    position: relative;
}
  
.MenuClases {
    cursor: pointer;
    transition: 0.4s;
}
  
.active, .MenuClases:hover {
    background-color: #ccc; 
}

#dropup {
    display: 'none';
}
  
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
  