<ion-header>
  <ion-toolbar>
    <ion-title > Mis clases </ion-title>
    <ion-back-button (click)="IrAProfesor();"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar>
  
    <div id="dropup">
      
      <ion-item>
        <ion-label position="stacked">Escribe el nombre de la asignatura</ion-label>
        <ion-input [(ngModel)]="NombreEliminar"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="Eliminar();">Eliminar asignatura</ion-button>
      </ion-item>
        
    </div>
    <ion-segment  color="secondary">  
      <ion-segment-button (click)="IrAForm();" color="success">Añadir</ion-segment-button>
      <ion-segment-button (click)="AbrirInput();">Eliminar</ion-segment-button>
    </ion-segment>
        
  </ion-toolbar>
      
</ion-footer>

<ion-content>

  <ion-list>

    <ion-list-header>Clases que administro</ion-list-header>
    
    <div class="topnav" id="myLinks">
      
      <a *ngFor="let clase of clases">

        <ion-button class="MenuClases"  slot="end" expand="block" (click)="myFunction(clase.id);">
          {{clase.id}}
        </ion-button>

          
        <div class="panel" id="{{clase.id}}">

          <ion-item lines="inset">
            <ion-button fill="clear" color="dark" (click)="IrALista(clase.id);">Ver lista de alumnos {{clase.id}}</ion-button>
          </ion-item>
          <ion-item lines="inset">
            <ion-button fill="clear" color="dark" (click)="IrAAvatares(clase.id);">Juego de Avatares</ion-button>
          </ion-item>
                  
        </div>
         

          
      </a>
    </div>
  </ion-list>

</ion-content>

