<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido a mi App!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     
</ion-content>

<div id="avatar">

  <img id="cabeza" src="assets/img/cabeza.png"/>
  
</div>

<ion-tabs >

  <ion-tab-bar>

    <ion-button color="secondary" [routerLink]="['/details']">
      Button 1
    </ion-button>
              
    <ion-button (click)="IrAPelos();" >
      Butt 2
    </ion-button>
              
    <ion-button [routerLink]="['/details']" routerLinkActive="router-link-active">
      Butt 3
    </ion-button>

  </ion-tab-bar>

      
</ion-tabs>


<!--<ion-tabs>



  <ion-tab-bar>

    
    <ion-tab-button tab="Cara" color-selected="secondary">
    
      <ion-label>Tipo de cara</ion-label>
      <ion-icon name="person"></ion-icon>
          
    </ion-tab-button>

    (click) = "IrAPelos();"

    <ion-tab-button  routerLink="/pelo" tab="Pelo" >

      <ion-label>Peinado</ion-label>
      <ion-icon name="pricetag"></ion-icon>
            
    </ion-tab-button>

    <ion-tab-button tab="Ojos">

      <ion-label>Ojos</ion-label>
      <ion-icon name="eye"></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button tab="Boca">

      <ion-label>Boca</ion-label>
      <ion-icon name="happy"></ion-icon>
      <ion-badge>6</ion-badge>
      
    </ion-tab-button>


  </ion-tab-bar>
    

</ion-tabs>-->




<!--<ion-tabs>

  <ion-tab tab="Cara">Caras</ion-tab>
  <ion-tab tab="Pelo">Pelos</ion-tab>
  <ion-tab tab="Ojos">Ojos</ion-tab>
  <ion-tab tab="Boca">Bocas</ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="Cara">

      <ion-label>Estilo de peinado</ion-label>
      <ion-icon name="person"></ion-icon>
      <ion-badge>6</ion-badge>

    </ion-tab-button>

    <ion-tab-button tab="Pelo">

      <ion-label>Tipo de cara</ion-label>
      <ion-icon name="pricetag"></ion-icon>
      <ion-badge>6</ion-badge>
  
    </ion-tab-button>

    <ion-tab-button tab="Ojos">

      <ion-label>Forma de Ojos</ion-label>
      <ion-icon name="eye"></ion-icon>
      <ion-badge>6</ion-badge>
    
    </ion-tab-button>

    <ion-tab-button tab="Boca">

      <ion-label>Boca</ion-label>
      <ion-icon name="happy"></ion-icon>
      <ion-badge>6</ion-badge>
    
    </ion-tab-button>
  

    </ion-tab-bar>

  </ion-tabs>-->
