<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--<ion-segment [(ngModel)]="galleryType">
    <ion-segment-button value="regular">
      regular
    </ion-segment-button>
    <ion-segment-button value="privilegios">
      Privilegios
    </ion-segment-button>

  </ion-segment>-->
  
  <ion-slides>

    <ion-slide *ngFor="let img [pelo,pelo1,pelo2,pelo3]">
      <img src="assets/img/{{ img }}.png">
    </ion-slide>

  </ion-slides>
  

</ion-content>

  