<ion-header>
  <ion-toolbar>
    <ion-title>Lista Avatares {{idClase}}</ion-title>
    <ion-back-button (click)="VolverJuego();"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <body>

   


    <ion-list *ngFor="let Matricula of matriculas">

      <ion-list-header>
        {{Matricula.idAlumno}}
      </ion-list-header>

      <ion-item>
        <div id="{{Matricula.idAlumno}}">

          <img id="cabeza" src="assets/img/cabeza.png"/>
                            
        </div>
      </ion-item>

    </ion-list>

    
  </body>

</ion-content>
