<ion-header>
  <ion-toolbar>
    <ion-title slot="end">Mi Perfil</ion-title>
    <ion-back-button defaultHref="profesor"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

    <li>
      <ion-item>

        <ion-icon name="person" item-start color= "secondary-contrast"></ion-icon>
        Nombre de usuario: {{usuario.nombre}}
      
      </ion-item>

      <ion-item>

          <ion-icon name="lock" item-start color= "secondary-contrast"></ion-icon>
          Contraseña: {{usuario.pass}}
        
      </ion-item>

      <ion-item>

          <ion-icon name="person" item-start color= "secondary-contrast"></ion-icon>
          <ion-label stacked>Rol: {{usuario.rol}}</ion-label>
        
      </ion-item>

    </li>
  </div>

  <div id="cambiacontraseña">


    <ion-item>
      <ion-label position="stacked">Escribe tu nueva contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="nuevacontra"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="CambiaPass(); showAlert();">Introducir</ion-button>
    </ion-item>

  </div>
  <div>
    <ion-tabs>
   
      <ion-button (click)="MuestraCambio();">
        <ion-label>Cambiar Contraseña</ion-label>
      </ion-button>
           
    </ion-tabs>
  </div>

</ion-content>
