<ion-header>
  <ion-toolbar>
    <ion-title slot="end">Mi Perfil</ion-title>
    <ion-back-button defaultHref="profesor"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

    <li>
      <ion-item>

        <ion-icon name="person" item-start color= "secondary-contrast"></ion-icon>
        Nombre de usuario: {{usuario.nombre}}
      
      </ion-item>

      <ion-item>

          <ion-icon name="lock" item-start color= "secondary-contrast"></ion-icon>
          Contraseña: {{usuario.pass}}
        
      </ion-item>

      <ion-item>

          <ion-icon name="person" item-start color= "secondary-contrast"></ion-icon>
          <ion-label stacked>Rol: {{usuario.rol}}</ion-label>
        
      </ion-item>

    </li>
  </div>

  <div>
    <ion-tabs>

     
      <ion-button>
        <ion-label>Cambiar nombre usuario</ion-label>
      </ion-button>
     

     
      <ion-button>
        <ion-label>Cambiar Contraseña</ion-label>
      </ion-button>
     
      

      

    </ion-tabs>
  </div>

</ion-content>
