
<ion-header>
  <ion-toolbar>
    <ion-title>¡Hola {{usuario.nombre}}! </ion-title>
    <ion-button slot="end" color= "danger" (click)="IrALogin();"><ion-icon name="power"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-button color= "success" expand = "block" (click) ="MostrarDatosPerfil();" >
      Mi perfil
    </ion-button>
   
    <ion-button color= "success" expand = "block" (click) = "IrAClases();">
      Mis clases
    </ion-button>

    <ion-button color= "success" expand = "block" (click) = "IrAGaleria();">
      Galería de material
    </ion-button>

  </ion-list>
</ion-content>

<h2>Detalles del usuario</h2>
