
<ion-header>
  <ion-toolbar>
    <ion-title>¡Bienvenido {{nombre}}! </ion-title>
    <ion-button slot="end" color= "danger" (click)="IrALogin();"><ion-icon name="power"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-button color= "success" expand = "block">
      Mi perfil
    </ion-button>
   
   
    <ion-button color= "success" expand = "block">
      Galería de material
    </ion-button>
    
   
    <ion-button color= "success" expand = "block" (click) = "IraClases();">
      Mis clases
    </ion-button>
   
  
    <ion-button color= "success" expand = "block" (click)="IrALista();">
      Listado de alumnos
    </ion-button>
   

  </ion-list>
</ion-content>
